html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    pointer-events: none;
}

.parent {
    background-color: rgb(44, 43, 43);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.child {
    background-color: white;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    background-color: rgb(44, 43, 43);
}

.square {
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    box-sizing: border-box;
    pointer-events: auto;
    user-select: none;
}

.square:nth-child(odd) {
    background-color: rgb(131, 57, 217);
}

.square:nth-child(even) {
    background-color: rgb(237, 69, 142);
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
}

.result {
    color: white;
    font-size: large;
    font-weight: bold;
}

button {
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(72, 67, 238);
    pointer-events: auto;
}

.fill-X::before {
    height: 80px;
    width: 80px;
    content: "X";
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-O::before {
    height: 80px;
    width: 80px;
    content: "O";
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}