* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.hamburger {
    background-color: darkseagreen;
    display: none;
}

.hamburger img {
    background-color: darkseagreen;
}


.nav-bar {
    padding: 5px;
    background-color: darkseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
}

.main-menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main-menu-list li {
    cursor: pointer;
}

.main-menu-list li:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

@media (max-width:500px) {
    .main-menu {
        display: none;
    }

    .main-menu-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        top: 57px;
        right: 0px;
        padding: 20px;
        position: absolute;
        background-color: seagreen;
    }

    .hamburger {
        display: block;
    }
}